<%= form_for(idea) do |f| %>
  <% if idea.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role>
      <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  	<div class="form-group">
	    <%= f.label :name, class: "control-label" %>
	    <%= f.text_field :name, class: "form-control" %>
	    <small id="idea_name_help" class="form-text text-muted">Name your idea</small>
  	</div>

  	<div class="form-group">
	    <%= f.label :description, class: "control-label"%>
	    <%= f.text_area :description, class: "form-control" %>
	    <small id="idea_desc_help" class="form-text text-muted">Detail your idea</small>
  	</div>

  	<div class="form-group" >
	    <%= f.label :picture, class: "control-label" %>
	    <%= f.file_field :picture, class:"btn btn-warning" %>
	    <small id="idea_pic_help" class="form-text text-muted">Add a mockup if you have one</small><br /><br />
	    
	    <%= image_tag(idea.picture_url, width: 100) if idea.picture? %>
	</div>

  <div class="actions">
    <%= f.submit "save", class: "btn btn-primary material-icons" %>
  </div>
<% end %>
